.container-rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.title-rules {
  color: #c1272d;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: 1rem 0;
}

.topic-rules {
  color: #c1272d;
  text-align: center;
  width: 100%;
  margin: 0.5rem 0;
}

.paragraph-rules {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  margin: 0.5rem 0;
}

.image-rules {
  max-width: 289px;
  max-height: 75px;
  margin: 1rem 0;
}
