.common-button {
  border: none;
  background-color: #fff;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border-radius: 1.5rem;
  width: 8rem;
  height: 2.5rem;
  margin: 0.5rem;
}

#red {
  background-color: #c02932;
  color: #fff;
}
#gray {
  background-color: #bbb;
}

.common-button:hover {
  transition: 300ms;
  width: 8.5rem;
  height: 3rem;
  margin: 0.25rem;
}

#red:hover {
  background-color: #ee1414;
}
#gray:hover {
  background-color: #888;
}