div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px 0px;
}

h1 {
  color: #c1272d;
  font-family: "Dosis", sans-serif;
  align-items: center;
  text-transform: uppercase;
}

h2 {
  color: #c1272d;
  font-family: "Dosis", sans-serif;
  align-items: center;
}

p {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-style: normal;
  font-weight: 400;
}

.Regras {
  width: 289px;
  height: 75px;
  padding: 10px;
}
